.facilitiesHeading {
  font-size: 34px;
}

.facilityNameIcon {
  font-size: 40px;
  color: #52be80;
}

.facilityNameWrapper {
  color: #52be80;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  text-align: center;
}

.facilitiesHeading {
  text-align: center;
}
/* from here */
.facilityCardName {
  background-color: #fefcfc;
  margin: 0 15px;
  padding: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.facilityCardName:hover {
  background-color: white;
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
}

.facilityCardNameWrapper {
  border: 1px solid #52be80;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.facilityCardNameWrapper:hover {
  color: #da724d;
  border: 1px solid #da724d;
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
}

.facilityCardNameWrapper:hover > .facilityNameIcon {
  color: #da724d;
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
}

.facilityCardImg {
  box-sizing: border-box;
  overflow: hidden;
}

.facilityCardImg > img {
  width: 350px;
}

.facilityCardImg > img:hover {
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.facilityCardsWrapper {
  /* padding: 0 20px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  text-align: center;
}

.facilityCardText > p {
  margin-top: 15px;
  margin-bottom: -5px;
  font-size: 16px;
  font-weight: 500;
}

.facilityCard {
  padding: 30px 0;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .facilityNameWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .facilityCardsWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 992px) {
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
}

@media screen and (min-width: 1200px) and (max-width: 1900px) {
}
